In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('NFDB_point_20220901.txt', sep=",", header=None)

df.head(5)

/var/folders/_1/slbty4054pvb722zx16dmj7w0000gn/T/ipykernel_75398/1695742249.py:6: DtypeWarning: Columns (0,4,5,6,7,8,10,11,13,23,24) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('NFDB_point_20220901.txt', sep=",", header=None)

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,FID,SRC_AGENCY,FIRE_ID,FIRENAME,LATITUDE,LONGITUDE,YEAR,MONTH,DAY,REP_DATE,...,MORE_INFO,CFS_REF_ID,CFS_NOTE1,CFS_NOTE2,ACQ_DATE,SRC_AGY2,ECOZONE,ECOZ_REF,ECOZ_NAME,ECOZ_NOM
1,0,BC,1953-G00041,,59.963000000000001,-128.172000000000000,1953,5,26,1953-05-26 00:00:00,...,,BC-1953-1953-G00041,,,2020-05-05 00:00:00,BC,12,12,Boreal Cordillera,CordillCre boreale
2,1,BC,1950-R00028,,59.317999999999998,-132.172000000000000,1950,6,22,1950-06-22 00:00:00,...,,BC-1950-1950-R00028,,,2020-05-05 00:00:00,BC,12,12,Boreal Cordillera,CordillCre boreale
3,2,BC,1950-G00026,,59.875999999999998,-131.922000000000000,1950,6,4,1950-06-04 00:00:00,...,,BC-1950-1950-G00026,,,2020-05-05 00:00:00,BC,12,12,Boreal Cordillera,CordillCre boreale
4,3,BC,1951-R00097,,59.759999999999998,-132.807999999999990,1951,7,15,1951-07-15 00:00:00,...,,BC-1951-1951-R00097,,,2020-05-05 00:00:00,BC,12,12,Boreal Cordillera,CordillCre boreale

In [11]:
# get counts of number of unique values in src_agency column
df[1].value_counts()

1
BC            149410
ON             63508
AB             62707
QC             43124
MB             27508
SK             25287
NT             14365
NB             11041
NS             10451
YT              8061
NL              4372
PC-WB           1961
PC-BA            353
PC-JA            259
PC-GF            167
PC-KO            147
PC-GR            145
PC-PA            130
PC-GL            106
PC-RM             92
PC-NA             78
PC-YO             75
PC-WL             65
PC-LM             60
PC-PU             59
PC-RE             49
PC-EI             35
PC-KG             30
PC-PP             26
PC-GI             20
PC-TN             17
PC-CB             17
PC-KE             14
PC-BP             12
PC-TI             10
PC-SL              8
PC-BT              8
PC-WP              8
PC-FO              6
PC-KL              5
PC-PE              4
PC-FR              3
PC-VU              3
PC-SY              3
PC-FU              3
PC-RE-GL           3
PC-LO              3
PC-MM              2
PC-RO              2
PC-GB              2
PC-TH              2
PC-FW              1
PC-PR              1
PC-GM              1
PC-NC              1
PC-SE              1
SRC_AGENCY         1
Name: count, dtype: int64

In [15]:
# find records where SRC_AGENCY is equal to SRC_AGENCY
df[df[1] == 'SRC_AGENCY']

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,FID,SRC_AGENCY,FIRE_ID,FIRENAME,LATITUDE,LONGITUDE,YEAR,MONTH,DAY,REP_DATE,...,MORE_INFO,CFS_REF_ID,CFS_NOTE1,CFS_NOTE2,ACQ_DATE,SRC_AGY2,ECOZONE,ECOZ_REF,ECOZ_NAME,ECOZ_NOM

In [8]:
import pandas as pd
import chardet

# Detect the file's encoding
with open('nfd-statement-of-revenues-from-the-sale-of-timber-from-provincial-crown-land-en-fr-1.csv', 'rb') as f:
    result = chardet.detect(f.read())

# Read the file with the detected encoding
df2 = pd.read_csv('nfd-statement-of-revenues-from-the-sale-of-timber-from-provincial-crown-land-en-fr-1.csv', sep=",", encoding=result['encoding'])

In [9]:
df2.head()

,Year,AnnÃ©e,ISO,Juridiction,Revenues,Revenus,Value (dollars),Data qualifier,Valeur (en dollar),Qualificatifs de donnÃ©es,Jurisdiction
0,2003,2003,NL,Terre-Neuve-et-Labrador,Area/holding charges,Droits de location ou de jouissance,0.0,a,0.0,a,Newfoundland and Labrador
1,2003,2003,NL,Terre-Neuve-et-Labrador,"Other (bonuses, penalties, interest charges)","Autres (supplÃ©ments, amendes, frais d'intÃ©rÃªts)",3000.0,a,3000.0,a,Newfoundland and Labrador
2,2003,2003,NL,Terre-Neuve-et-Labrador,Protection fees,CoÃ»t de protection du territoire,0.0,a,0.0,a,Newfoundland and Labrador
3,2003,2003,NL,Terre-Neuve-et-Labrador,Permit and licence fees (export fees),Permis et frais de tenure (frais d'exportation),539000.0,a,539000.0,a,Newfoundland and Labrador
4,2003,2003,NL,Terre-Neuve-et-Labrador,Sales and rentals,Ventes et locations,0.0,a,0.0,a,Newfoundland and Labrador

In [25]:
df2.columns

Index(['Year', 'ISO', 'Revenues', 'Value (dollars)', 'Data qualifier',
       'Jurisdiction'],
      dtype='object')

In [11]:
df2 = df2.drop(columns=['AnnÃ©e', 'Juridiction', 'Revenus', 'Valeur (en dollar)', 'Qualificatifs de donnÃ©es'])

In [22]:
df2 = df2[df2['Year'] > 2014]

In [23]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 448 entries, 94 to 2847
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             448 non-null    int64
 1   ISO              448 non-null    object
 2   Revenues         448 non-null    object
 3   Value (dollars)  408 non-null    float64
 4   Data qualifier   448 non-null    object
 5   Jurisdiction     448 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 24.5+ KB

In [24]:
df2

,Year,ISO,Revenues,Value (dollars),Data qualifier,Jurisdiction
94,2015,NL,Stumpage charges,1369583.0,e,Newfoundland and Labrador
95,2015,NL,Rent charges,0.0,a,Newfoundland and Labrador
96,2015,NL,Area/holding charges,NaN,u,Newfoundland and Labrador
97,2015,NL,Reforestation levies,NaN,u,Newfoundland and Labrador
98,2015,NL,Permit and licence fees (export fees),825647.0,e,Newfoundland and Labrador
...,...,...,...,...,...,...
2843,2018,NT,Area/holding charges,0.0,a,Northwest Territories
2844,2019,NT,Stumpage charges,2410.0,a,Northwest Territories
2845,2019,NT,"Other (bonuses, penalties, interest charges)",0.0,a,Northwest Territories
2846,2019,NT,Sales and rentals,0.0,a,Northwest Territories
2847,2019,NT,Permit and licence fees (export fees),740.0,a,Northwest Territories

In [26]:
df2 = df2.drop(columns=['Data qualifier'])

In [27]:
df2

,Year,ISO,Revenues,Value (dollars),Jurisdiction
94,2015,NL,Stumpage charges,1369583.0,Newfoundland and Labrador
95,2015,NL,Rent charges,0.0,Newfoundland and Labrador
96,2015,NL,Area/holding charges,NaN,Newfoundland and Labrador
97,2015,NL,Reforestation levies,NaN,Newfoundland and Labrador
98,2015,NL,Permit and licence fees (export fees),825647.0,Newfoundland and Labrador
...,...,...,...,...,...
2843,2018,NT,Area/holding charges,0.0,Northwest Territories
2844,2019,NT,Stumpage charges,2410.0,Northwest Territories
2845,2019,NT,"Other (bonuses, penalties, interest charges)",0.0,Northwest Territories
2846,2019,NT,Sales and rentals,0.0,Northwest Territories
2847,2019,NT,Permit and licence fees (export fees),740.0,Northwest Territories